body {
    font-size: 18px;
    font-family: "Calibri",sans-serif;
}

.title {
    font-size: 24px;
    font-style: italic;
}

#main {
    padding: 20px;

}

#graphic {

}


#sections {
  position: relative;
  display: inline-block;
  width: 250px;
  top: 0px;
  z-index: 90;
}

.step {
  margin-top: 200px;
  margin-bottom: 600px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 30px;

  height: 600px;
  width: 1000px;
  background-color: #ddd;
}
