body {
    font-size: 18px;
    font-family: "Calibri",sans-serif;
    background-image: url("../images/clouds_large.jpg");
}

g2label { font: 4px Calibri; }

.title {
    font-size: 24px;
    font-style: italic;
}

#main {
    padding: 20px;

}

#graphic {

}


#sections {
  position: relative;
  display: inline-block;
  width: 250px;
  padding: 10px;
  top: 0px;
  z-index: 90;
  background-color:  rgba(255, 255, 255, .7);
}

.step {
  margin-top: 200px;
  margin-bottom: 600px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 30px;

  height: 600px;
  width: 1000px;

}

#map {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: -1;
  margin-left: 0px;

  height: 600px;
  width: 1000px;

}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
